/* Reset */

body, h1, h2, h3, ul, li {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

/* Estilos Gerais */

body {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

.imagem {
	border: 3px solid tomato;
	max-width: 480px;
	min-height: 400px;
	margin-bottom: 20px;
}

.imagem::after {
	content: 'IMAGEM';
	position: relative;
	display: block;
	background: tomato;
	padding: 10px;
	color: #000;
	top: 0;
	left: 0;
	text-align: center;
	font-weight: bold;
}


.subtitulo {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

.subtitulo::after {
	content: '';
	display: block;
	background: currentcolor;
	height: 3px;
	width: 50px;
	margin: 5px auto;
}

.subtitulo-fff, .subtitulo-000 {
	padding: 10px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo-fff {
	background: #000;
	color: #fff;
}

.subtitulo-000 {
	background: #fff;
	color: #000;	
}

/* Header */

.header {
	background: #000;
	padding: 10px;
	position: fixed;
	z-index: 100;
}

.header nav ul {
	display: flex;
	flex-wrap: wrap;
}

.header nav ul li {
	margin: 5px;
}

.header nav {
	margin-top: 5px;
}

.header nav ul li a {
	padding: 10px 5px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}

.header nav ul li a:hover {
	transition: .3s all;
	text-decoration: underline;
}

.logo {
	flex-grow: 1;
	text-transform: uppercase;
	font-family: Courier, monospace;
	font-size: 2em;
	font-weight: bold;
}

.logo:hover {
	animation: spin .9s ease infinite;
}

.logo a {
	color: #fff;
	text-decoration: none;
}

.logo a:hover span.logo-alt {
	color: #5b5b5b;
	transition: .3s;
	
}

@keyframes spin {
    0% { transform: translate3d(0, 0, 0); }
    50% { transform: translate3d(-10px, 0, 0);}
    100% { transform: translate3d(10px, 0, 0);}
}

/* Home */

.home {
	background: rgba(0, 0, 0, .9);
	padding: 120px 0;
	text-align: center;
}

.home blockquote h1 {
	text-transform: uppercase;
	max-width: 900px;
	margin: 0 auto;
}

.home blockquote p {
	max-width: 800px;
	margin: 20px auto;
	font-style: italic;
}


.home blockquote p::after, 
.home blockquote p::before {
	content: '';
	display: block;
	background: currentcolor;
	height: 3px;
	width: 80px;
	margin: 15px auto;
}

.home blockquote cite {
	font-style: normal;
	text-transform: uppercase;
	font-weight: bold;
}

.home blockquote h1,
.home blockquote p,
.home blockquote cite {
	color: #fff;
} 


/* Autor */

.autor, .livros, .sobre, .contato {
	padding: 20px 0;
}


/* Livros */

.livros, .contato {
	background: rgba(0, 0, 0, .9);
}

.livros h2 {
	color: #fff;
}

.livros p {
	color: #fff;
}

/* Sobre */

.sobre map area {
	outline: none;
}

/* Contato */

.contato h2 {
	color: #fff;
}

.contato form {
	max-width: 500px;
	display: block;
	margin: 0 auto;
}

.contato form label {
	color: #fff;
	display: block;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.contato form input {
	width: 100%;
	border: 3px solid #fff;
	color: #fff;
	background: none;
	padding: 5px;
	outline: none;
}

.contato form textarea {
	width: 100%;
	border: 3px solid #fff;
	background: none;
	min-height: 100px;
	color: #fff;
	padding: 5px;
	outline: none;
}

.contato::after, .contato::before {
	content: '';
	display: table;
	clear: both;
}


.contato form input:hover,
.contato form input:focus,
.contato form textarea:hover,
.contato form textarea:focus {
	transition: .3s;
	border-color: #000;
} 

.contato form button {
	color: #fff;
	border: 3px solid currentcolor;
	padding: 10px 30px;
	text-transform: uppercase;
	background: none;
	font-weight: bold;
	cursor: pointer;
}

.contato form button:last-child {
	float: right;
}

.contato form button:hover {
	transition: .3s;
	color: #000;
} 

/* Footer */

.footer {
	background: #000;
	padding: 60px 0;
}

.footer p {
	color: #fff;
	text-align: center;
}

/* Menu Mobile  */

/* Menu Styles */
#origamid-menu {
	visibility: hidden;
	position: absolute;
	background: black;
	width: auto;
	max-width: 190px;
	padding: 20px;
	right: 0;
	top: 50px;
	text-align: left;
	opacity: 0;
	transform: translate(-20px, 0px);
	box-shadow: 0 2px 1px 0 rgba(0,0,0,.4);
	z-index: 999;
}

#origamid-menu.active {
  visibility: visible;
	opacity: 1;
	transform: translate(0px, 0px);
	transition: .3s ease;
}

#origamid-menu li {
	display: block;
	padding: 0px;
	margin: 0px;
	border-top: 2px solid;
}

#origamid-menu li:last-of-type {
	border-bottom: 2px solid;
}

#origamid-menu li a {
	display: block;
	float: none;
	padding: 10px;
	margin: 0px;
	border: none;
	min-width: 140px;
}

#origamid-menu li a:hover {
	background: white;
	color: black;
}

/* Menu Icon */
#origamid-icon {
	display: block;
	float: right;
	width: 40px;
	height: 30px;
	padding: 5px 0;
	box-sizing: border-box;
	cursor: pointer;
}

#origamid-icon::before, #origamid-icon::after {
	content: '';
	display: block;
	height: 4px;
	transition: .3s;
}

#origamid-icon::before {
	background: white;
	margin-bottom: 8px;
}

#origamid-icon::after {
	box-shadow: 0 4px 0 0 white, 0 -4px 0 0 white;
}

#origamid-icon.active::before, #origamid-icon.active::after {
	width: 80%;
	background: white;
	box-shadow: none;
}

#origamid-icon.active::before {
	transform: rotate(45deg) translate(7px, 4px);
}

#origamid-icon.active::after {
	transform: rotate(-225deg) translate(-4px, 1px);
}